/*
 * ------------------------------------
 * aracne-ap_viper Nextflow config file
 * ------------------------------------
 * Default config options for all environments.
 */

params {

  container = 'library://bruce.moran/default/projects:jupyter_rnaseq'
  tag = 'aracne'

}

profiles {

  standard {
    includeConfig 'conf/base.config'
  }

  genome {
    includeConfig 'conf/genome.config'
  }

  singularity {
    singularity.enabled = true
  }

}

process {

      container = 'library://bruce.moran/default/projects:jupyter_rnaseq'
}

timeline {
  enabled = true
  file = "pipeline_info/aracne-ap_viper.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/ap_viper.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/ap_viper.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/ap_viper.dag.svg"
}
