/*
 * ------------------------------------
 * aracne-ap_viper Nextflow config file
 * ------------------------------------
 * Default config options for all environments.
 */

params {

  container = 'shub://brucemoran/Singularity:aracne_ap_viper.centos7.mamba'
  runID = 'aracne'
  outDir = 'ARACNe'
  bootstraps = 100
}

profiles {

  genome {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genome.config'
  }

  sonic {
    includeConfig 'conf/base.config'
    includeConfig 'conf/sonic.config'
  }

  singularity {
    singularity.enabled = true
  }
}

process {

  container = 'shub://brucemoran/Singularity:aracne_ap_viper.centos7.mamba'
}

timeline {
  enabled = true
  file = "pipeline_info/aracne-ap_viper.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/aracne-ap_viper.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/aracne-ap_viper.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/aracne-ap_viper.dag.svg"
}
