/*
 * -------------------------------------------------
 *  Nextflow config file for IEHG Genome cluster
 * -------------------------------------------------
 * Imported under the 'standard' Nextflow profile;
 * USe as template for other systems!
 */

process {

  executor = 'pbs'

  withName:calcThresh {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:bootStrap {
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:consBoots {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:viper {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
}

conda.cacheDir = '/data/genome/bmoran/conda/nextflow'

singularity {

  cacheDir = '/data/genome/bmoran/singularity/nextflow'
  runOptions = '--bind /data:/data'

}
