/*
 * -------------------------------------------------
 *  Nextflow config file for IEHG Genome cluster
 * -------------------------------------------------
 * Imported under the 'genome' Nextflow profile in:
 * exome_n-of-1.nextflow.config
 */

process {

  executor = 'pbs'

  withName:calcThresh {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:bootStrap {
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:consBoots {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:viper {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
}

conda.cacheDir = '/data/genome/conda/nextflow'

singularity {

  cacheDir = '/data/genome/singularity/nextflow'
  runOptions = '--bind /data:/data'

}
