/*
 * -------------------------------------------------
 *  Nextflow config file for IEHG Genome cluster
 * -------------------------------------------------
 * Imported under the 'standard' Nextflow profile;
 * USe as template for other systems!
 */
params {

  //NB max_cpus uused for R msViper function
  max_memory = 128.GB
  max_cpus = 40
  max_time = 240.h

}
process {

  executor = 'pbs'

  withName:calcThresh {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:bootStrap {
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:consBoots {
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:viper {
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
}

conda.cacheDir = '/data/genome/bmoran/conda/nextflow'

singularity {

  cacheDir = '/data/genome/bmoran/singularity/nextflow'
  runOptions = '--bind /data:/data'

}
