/*
 * -------------------------------------------------
 *  Nextflow config file for IEHG Genome cluster
 * -------------------------------------------------
 * Imported under the 'standard' Nextflow profile;
 * USe as template for other systems!
 */
params {

  //NB max_cpus uused for R msViper function
  max_memory = 128.GB
  max_cpus = 20
  max_time = 240.h

}
process {

  executor = 'slurm'

  withName:calcThresh {
    cpus = 20
  }
  withName:bootStrap {
    cpus = 4
  }
  withName:consBoots {
    cpus = 20
  }
  withName:viper {
    cpus = 10
  }
}

singularity {

  cacheDir = '/home/people/moranb/singularity/nextflow'
  autoMounts = 'true'

}
